body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

#containerFooter {
    width: 100%;
    background-color: rgb(29, 29, 29);
    color: white;
    letter-spacing: 1px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-transform: uppercase;
    font-size: 15px;
    padding: 15px 300px;
    box-sizing: border-box;
}
#containerFooter p:hover {
    color: lightslategray;
    cursor: pointer;
}

#webFooter {
    padding-top: 30px;
    font-size: 12px;
}
a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

body {
    margin: 0;
}

#container {
    background-color: white;
    margin: auto;
    text-align: center;
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1.5fr 1.5fr 5fr 1fr;
    font-family: 'Lato', sans-serif;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    box-sizing: border-box;
    position: fixed;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
        0 2px 6px 2px rgba(60, 64, 67, 0.149);
}

#shopName {
    font-size: 40px;
    font-family: 'Lato', sans-serif;
}

#shopName a {
    text-decoration: none;
    color: rgb(29, 29, 29);
}

#shopName>b {
    font-weight: 900;
    font: black;
}

#collection {
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#collection a {
    text-decoration: none;
    color: rgb(29, 29, 29);
}

.search {
    padding: 14px;
    /* color: gray; */
    color: rgb(29, 29, 29);
    width: 50px;
    text-align: center;
    position: absolute;
}

.addedToCart {
    font-size: 1.5em;
    margin-right: 25px;
}

#user {
    display: flex;
    /* float: right; */
    align-items: center;
}

.userIcon {
    font-size: 45px;
}

#input {
    width: 35em;
    height: 3em;
    padding: 2px 50px;
    background-color: rgb(241, 241, 241);
    border: none;
    border-radius: 5px;
}

#input::placeholder {
    font-weight: bold;
}

#input:focus {
    outline: none;
}

#user a {
    color: rgb(29, 29, 29);
}
body {
    margin: 0;
}

#containerSlider {
    margin: auto;
    width: 90%;
    text-align: center;
    padding-top: 100px;
    box-sizing: border-box;
}

#containerSlider img {
    width: 100%;
    height: 140%;
    text-align: center;
    align-content: center;
}
*{
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    margin: 0;
}

.mySlides {
    display: none;
}

img {
    width: 100%;
    height: 140%;
    text-align: center;
    align-content: center;
}
.slideshow-container {
     margin: auto;
     width: 90%;
     text-align: center;
     padding-top: 100px;
     box-sizing: border-box;
}



/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}